.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #111;
  color: white;

  padding: 12px 40px;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 35px;
}

.brand {
  font-size: 20px;
  font-weight: bold;
  color: #4da6ff;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #4da6ff;
}

.welcome {
  color: #aaa;
}

.nav-links button {
  background: #4da6ff;
  border: none;
  color: white;

  padding: 6px 14px;
  border-radius: 6px;

  cursor: pointer;
}

.nav-links button:hover {
  background: #3399ff;
}